.categories-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
    margin-top:30px;
}

.category-card{
    background:#0b0b0b;
    border:1px solid #5f4b00;
    border-radius:18px;
    padding:45px 20px;
    text-align:center;
    cursor:pointer;
    transition:all .3s ease;
}

.category-card h3{
    color:#FFD700;
    font-size:1.5rem;
    margin-bottom:12px;
}

.category-card p{
    color:#cfcfcf;
    font-size:14px;
}

.category-card:hover{
    transform:translateY(-8px);
    border-color:#FFD700;
    box-shadow:0 0 25px rgba(255,215,0,0.35);
}
